/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* reset codes and common codes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .1s;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-design{
    display: flex;
    flex-direction: row;
}

.width-65{
    width: 55%;
}

.width-35{
    width: 45%;
}

hr{
    width: 100%;
    opacity: 0.5;
}

/* navigation bar design */
header #navigation .nav-bar{
    margin: 40px 0;
}
header #navigation .nav-bar nav{
    display: flex;
    justify-content: space-between;
}

header #navigation .nav-bar nav .logo{

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #3A3A3A;
}

header #navigation .nav-bar nav .nav-links a{
    text-decoration: none;
    font-size: 18px;
    color: #3A3A3A;
    margin: 0 15px;
}

/* featured section design */
main #featured-sec .featured{
    display: flex;
    flex-direction: row;
    margin: 120px 0;
}

main #featured-sec .featured h1{
    font-size: 3.3em;
    color: #3A3A3A;
}

main #featured-sec .featured p{
    font-size: 1.2em;
    margin: 10px 0;
    color: #3A3A3A;
}

main #featured-sec .featured button{
    background-color: #E02C6D;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
}

main #featured-sec .featured button span{
    margin: 0 5px;
}

main #featured-sec .featured img{
    width: 440px;
    height: 414px;
    display: block;
    margin: -40px auto;
}

/* client section design */
main #client-sec .clients{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
}

/* popular collection design */
main #popular-collection-sec .popular-collection h1{
    text-align: center;
    margin: 100px 0 50px 0;
}

main #popular-collection-sec .popular-collection .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main #popular-collection-sec .popular-collection .cards .card{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px auto;
}

main #popular-collection-sec .popular-collection .cards .card h3{
    opacity: 0.8;
    font-weight: 400;
}

main #popular-collection-sec .popular-collection .cards .card .icons{
    font-size: 10px;
}

main #popular-collection-sec .popular-collection .cards .card .rating i{
    color: orange;
}

main #popular-collection-sec .popular-collection .cards .card .rating span{
    margin: 0 5px;
}