/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.1s;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-design {
  display: flex;
  flex-direction: row;
}

.width-65 {
  width: 55%;
}

.width-35 {
  width: 45%;
}

hr {
  width: 100%;
  opacity: 0.5;
}

/* navigation bar design */
header #navigation .nav-bar {
  margin: 40px 0;
}
header #navigation .nav-bar nav {
  display: flex;
  justify-content: space-between;
}

header #navigation .nav-bar nav .logo {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
  cursor: pointer;
}

header #navigation .nav-bar nav .nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3a3a;
  margin: 0 15px;
}

/* featured section design */
main #featured-sec .featured {
  display: flex;
  flex-direction: row;
  margin: 120px 0;
}

main #featured-sec .featured h1 {
  font-size: 3.3em;
  color: #3a3a3a;
}

main #featured-sec .featured p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #3a3a3a;
}

main #featured-sec .featured button {
  background-color: #e02c6d;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  cursor: pointer;
}

main #featured-sec .featured button span {
  margin: 0 5px;
}

main #featured-sec .featured img {
  width: 440px;
  height: 414px;
  display: block;
  margin: -40px auto;
}

/* client section design */
main #client-sec .clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 30px;
}

/* popular collection design */
main #popular-collection-sec .popular-collection h1 {
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: 40px;
}

main #popular-collection-sec .popular-collection .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main #popular-collection-sec .popular-collection .cards .card {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px auto;
}

main #popular-collection-sec .popular-collection .cards .card h3 {
  opacity: 0.8;
  font-weight: 400;
}

main #popular-collection-sec .popular-collection .cards .card .icons {
  font-size: 10px;
}

main #popular-collection-sec .popular-collection .cards .card .rating i {
  color: orange;
}

main #popular-collection-sec .popular-collection .cards .card .rating span {
  margin: 0 5px;
}

/* extra section design */
main #extra-sec .extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

main #extra-sec .extra h1 {
  font-size: 40px;
  margin: 0 0 25px 0;
}

main #extra-sec .extra .contact {
  font-size: 20px;
  color: #3a3a3a;
  letter-spacing: 1px;
}

main #extra-sec .extra .contact i,
main #extra-sec .extra .contact span {
  margin: 10px 0;
}

/* footer design */
footer {
  background-color: #0a0826;
  text-align: center;
  padding: 15px 0;
}

footer .heading,
.paragraph {
  color: #fff;
  margin: 10px;
}

footer i {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 7px;
}

footer .ln {
  background-color: #fff;
  color: #0077b5;
}

footer .tw {
  background-color: #fff;
  color: #5da9dd;
}

footer .yt {
  background-color: #fff;
  color: #fe0000;
}

/* 992px and less */
@media screen and (max-width: 992px) {
  .width-35 {
    width: 100%;
  }

  .width-65 {
    width: 90%;
  }

  header #navigation .nav-bar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header #navigation .nav-bar .logo {
    margin: 5px;
  }

  main #featured-sec .featured {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  main #featured-sec .featured img {
    margin-bottom: 10px;
  }

  main #featured-sec .featured .width-65 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main #featured-sec .featured .width-65 h1 {
    text-align: center;
  }

  main #featured-sec .featured .width-65 p {
    text-align: center;
  }

  main #featured-sec .featured .width-65 h1 {
    font-size: 2.2em;
  }

  main #featured-sec .featured .width-65 p {
    font-size: 1.1em;
  }

  main #client-sec .clients {
    display: none;
  }

  main #popular-collection-sec .popular-collection .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  main #extra-sec .flex-design {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  main #extra-sec .flex-design .width-65 {
    text-align: center;
  }

  main #extra-sec .flex-design .width-35 img {
    display: block;
    margin: 10px auto;
  }

  hr {
    display: none;
  }
}

/* 750px and less */
@media screen and (max-width: 750px) {
  header #navigation .nav-bar nav .nav-links {
    display: none;
  }

  .width-65 {
    width: 100%;
  }

  main #featured-sec .featured h1 {
    text-align: center;
    width: 100%;
  }

  main #featured-sec .featured {
    text-align: center;
  }

  main #featured-sec .featured .width-65 h1 {
    font-size: 2em;
  }

  main #featured-sec .featured .width-65 p {
    font-size: 1em;
  }

  main #popular-collection-sec .popular-collection .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  main #popular-collection-sec .popular-collection .cards .card {
    transform: scale(1.1);
  }
}

/* 600px and less */
@media screen and (max-width: 600px) {
  main #extra-sec .extra .contact {
    letter-spacing: 0;
  }
}
